@import url("https: //fonts.googleapis.com/css2?family=Roboto: wght@300;400;900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
   width: 100%;
  height: 700px;
  font-family: "Roboto", sans-serif;
  background-image: url("../img/playa1.jpg");
  background-size: cover;
  background-size: 100em;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.nav{
  background: #293241;
  height: 80px;
  color: #fff;
}
.nav_container{
  display: flex;
  height: 10%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  font-size: 1.5em;
  font-weight: 900;
  color: #fff ;
}
.nav_menu{
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}
.nav_item{
  color: #fff;
  text-decoration: none;
}
.nav_item;after{
  content: "";
  display: block;
  background: #fff;
  width: 98%;
  margin-top: 3px;
  height: 3px;
}
.nav_input:checked + .nav_menu{
  background: tomato;
}
.nav_label, .nav_input{
  display: none;
}
.nav_img{
  width: 28px;
}
.nav_container h1{
  color: #fff;
}
section{
  margin: 10%;
}
section h1, p{
  width: 60%;
  color: #fff;
  
}
section h1{

  font-size: 3.5em;
}
section p{
  font-size: 1em;
  margin-top: 1em;
}
section button{
  margin: .7em;
  padding: 10px 30px;
}
footer img{
  margin: 5%;
  width: 15%;
}

/*registro*/
.form_registro{
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
}
.form_registro h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.controls{
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: "calibri";
}
.form_registro p {
  height: 40px;
  text-align: center;
  font-size: 18px;

}
.form_registro a{
  color: white;
  text-decoration: none;
}
.form_registro a:hover{
  color: white;
  text-decoration: underline;
}
.form_registro .boton{
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
}